@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.6;
}
h1{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin: 40px 0 60px 0;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}
#search-input{
    width: 60%;
    max-width: 400px;
    padding: 10px 20px;
box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
border-radius: 5px;
font-size: 18px;
color: #333;

}
#search-button{
    padding: 10px 20px;
    background-color: #138065;
    color: #fff;
    font-size: 18px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
}
.search-results{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}
.search-result{
    margin-bottom: 60px;
    width: 30%;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: opacity 0.2s ease-in-out;
}
.search-result img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.search-result:hover img{
opacity: 0.8;
}
.search-result a{
    font-size: 19px;
    text-decoration: none;
    display: block;
    padding: 10px;
    color: #333;
    text-transform: capitalize;
}
#show-more-button{
    background-color: #008cba;
    font-size: 18px;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    display: block;
    margin: 30px auto;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    max-height: 500px;
    object-fit: cover;
  }
  
  /* Caption of Modal Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation */
  .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
}
@media screen and (max-width:1240px) {
    .search-results{
        padding: 20px;
    }
}
@media screen and (max-width:768px) {
    .search-result{
        width: 45%;
    }
    .search-result a{
        font-size: 17px;
    }
}
@media screen and (max-width:480px) {
    h1{
        font-size: 30px;

    }
    .search-result{
        width: 100%;
    }
    .search-result a{
        font-size: 15px;
    }
}